---
import "~/styles/index.css";
import "@fontsource-variable/plus-jakarta-sans";

const { generator, site } = Astro;
const image = new URL("images/social.png", site);
const description =
	"A highly motivated and passionate software engineer with a strong interest in full-stack development, machine learning, and cybersecurity.";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
	<link rel="sitemap" href="/sitemap-index.xml" />
	<meta name="msapplication-TileColor" content="#00aba9" />
	<meta name="theme-color" content="#ffffff" />
	<meta name="generator" content={generator} />

	<title>{title}</title>
	<meta name="description" content={description} />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- social media -->
	<meta property="og:title" content={title} />
	<meta property="og:type" content="website" />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={image} />
	<meta property="og:url" content={site} />
	<meta name="twitter:card" content="summary_large_image" />

	<!-- initialize theme -->
	<script is:inline>
		const themeSaved = localStorage.getItem("theme");

		if (themeSaved) {
			document.documentElement.dataset.theme = themeSaved;
		} else {
			const prefersDark = window.matchMedia(
				"(prefers-color-scheme: dark)",
			).matches;
			document.documentElement.dataset.theme = prefersDark
				? "dark"
				: "light";
		}

		window
			.matchMedia("(prefers-color-scheme: dark)")
			.addEventListener("change", (event) => {
				if (!localStorage.getItem("theme")) {
					document.documentElement.dataset.theme = event.matches
						? "dark"
						: "light";
				}
			});
		document.addEventListener("DOMContentLoaded", function () {
			const codeElements = document.getElementsByClassName("astro-code");
			for (var i = 0; i < codeElements.length; i++) {
				codeElements[i].removeAttribute("style");
			}
		});
	</script>

	<body
		class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-selection"
	>
		<slot />
	</body>
</html>
